<table border="1">
  <tbody>
    <tr>
      <td>Nomor Permohonan</td><td>: {nomor_permohonan}</td>
    </tr>
    <tr>
      <td>Judul Permohonan </td><td>: {judul_permohonan}</td>
    </tr>
    <tr>
      <td>Status Permohonan </td><td>: {status_permohonan}</td>
    </tr>
    <tr>
      <td>Nomor Pengumuman </td><td>: {nomor_publikasi}</td>
    </tr>
    <tr>
      <td>Nomor Paten </td><td>: {nomor_sertifikat}</td>
    </tr>
    <tr>
      <td>Tanggal Pengumuman </td><td>: {tanggal_publikasi}</td>
    </tr>
    <tr>
      <td>Tanggal Dimulai Perlindungan </td><td>: {tanggal_dimulai_perlindungan}</td>
    </tr>
    <tr>
      <td>Tanggal Penerimaan </td><td>: {tanggal_penerimaan}</td>
    </tr>
    <tr>
      <td>Tanggal Berakhir Perlindungan </td><td>: {tanggal_berakhir_perlindungan}</td>
    </tr>
    <tr>
      <td>Nama Pemeriksa </td><td>: {nama_pemeriksa}</td>
    </tr>

    <tr>
      <td>Nomor Prioritas </td><td>: {nomor_prioritas}</td>
    </tr>
    <tr>
      <td>Tanggal Prioritas</td><td>: {tanggal_prioritas}</td>
    </tr>
    <tr>
      <td>Negara Prioritas</td><td>: {negara_prioritas}</td>
    </tr>

    <tr>
      <td>IPC</td><td>: {ipc_list}</td>
    </tr>

    <tr>
      <td>Nama Pemegang </td><td>: {nama_pemegang}</td>
    </tr>
    <tr>
      <td>Alamat Pemegang </td><td>: {alamat_pemegang}</td>
    </tr>
    <tr>
      <td>Negara Pemegang </td><td>: {negara_pemegang}</td>
    </tr>

    <tr>
      <td>Nama Inventor </td><td>: {nama_inventor}</td>
    </tr>
    <tr>
      <td>Alamat Inventor </td><td>: {alamat_inventor}</td>
    </tr>
    <tr>
      <td>Negara Inventor </td><td>: {negara_inventor}</td>
    </tr>
    <tr>
      <td>Konsultan </td><td>: {nama_konsultan}</td>
    </tr>
    <tr>
      <td>Alamat Konsultan </td><td>: {alamat_konsultan}</td>
    </tr>
    <tr>
      <td>Negara Konsultan </td><td>: {negara_konsultan}</td>
    </tr>
    <tr>
      <td>Abstract </td><td>: {abstract}</td>
    </tr>
  </tbody>
</table>