<table border="1">
  <tbody>
    <tr>
      <td>Nomor Permohonan</td><td>: {nomor_permohonan}</td>
    </tr>
    <tr>
      <td>Nama Merek </td><td>: {nama_merek}</td>
    </tr>
    <tr>
      <td>Status Permohonan </td><td>: {status_permohonan}</td>
    </tr>
    <tr>
      <td>Tanggal Permohonan </td><td>: {tanggal_permohonan}</td>
    </tr>
    <tr>
      <td>Nomor Pengumuman </td><td>: {nomor_pengumuman}</td>
    </tr>
    <tr>
      <td>Tanggal Pengumuman </td><td>: {tanggal_pengumuman}</td>
    </tr>
    <tr>
      <td>Tanggal Dimulai Perlindungan </td><td>: {tanggal_dimulai_perlindungan}</td>
    </tr>
    <tr>
      <td>Translasi </td><td>: {translasi}</td>
    </tr>
    <tr>
      <td>Nama Owner </td><td>: {tm_owner_name}</td>
    </tr>
    <tr>
      <td>Alamat Owner </td><td>: {tm_owner_address}</td>
    </tr>
    <tr>
      <td>Negara Owner </td><td>: {country_name} ({country_code})</td>
    </tr>
    <tr>
      <td>Konsultan </td><td>: {reprs_name}</td>
    </tr>
    <tr>
      <td>Alamat Konsultan </td><td>: {reprs_address}</td>
    </tr>
    <tr>
      <td>Negara Konsultan </td><td>: {reprs_country_name} ({reprs_country_id})</td>
    </tr>
    <tr>
      <td>Kode Kelas </td><td>: {class_no}</td>
    </tr>
    <tr>
      <td>Jenis Barang/Jasa </td><td>: {class_desc}</td>
    </tr>
  </tbody>
</table>